@model StudentEnrolmentSystem.Models.Dto.CourseCreateDto
@{
    ViewData["Title"] = "Edit Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="min-h-screen rounded flex flex-col xl:col-span-2">
    <form id="editCourseForm" data-action="@Url.RouteUrl("Courses.Update")"
        class="m-auto w-fit min-w-[28rem] max-w-md rounded-lg border border-gray-300 px-8 py-12 my-10">
        <h2 id="modalTitle" class="text-xl font-semibold text-gray-900 sm:text-2xl">Edit Course</h2>

        <div class="mt-1">
            <p class="text-sm text-pretty text-gray-700">
                Enter updated details of course offering.
            </p>
        </div>
        
        <input type="hidden" asp-for="CrsId" value="@Model.CrsId" />
        
        <div class="mt-6">
            <label>
                <span class="text-sm font-medium text-gray-700"> Course Code </span>

                <input
                    type="text" asp-for="CrsCode" value="@Model.CrsCode"
                    class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                />
                
                <span asp-validation-for="CrsCode" class="mt-1 text-sm text-red-700"></span>
            </label>
        </div>

        <div class="mt-4">
            <label>
                <span class="text-sm font-medium text-gray-700"> Course Title </span>

                <input
                    type="text" asp-for="CrsTitle" value="@Model.CrsTitle"
                    class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                />
                
                <span asp-validation-for="CrsTitle" class="mt-1 text-sm text-red-700"></span>
            </label>
        </div>

        <div class="mt-4">
            <label>
                <span class="text-sm font-medium text-gray-700"> Category </span>

                @{
                    var categories = ViewBag.Categories as List<StudentEnrolmentSystem.Models.CourseCategory>;
                    if (Model.ProgId != null)
                        categories = categories!.Where(c => !new[] { 1, 2, 7, 8 }.Contains(c.CatgId)).ToList();
                }
                <select
                        asp-for="CatgId" id="categorySelect"
                        class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                        asp-items="@(new SelectList(categories, "CatgId", "CatgName"))"
                >
                    <option value="" selected hidden>Please select</option>
                </select>

                <span asp-validation-for="CatgId" class="mt-1 text-sm text-red-700"></span>
            </label>
        </div>

        <div class="grid grid-cols-2 gap-8 mt-4">
            <div>
                <label>
                    <span class="text-sm font-medium text-gray-700"> Lecture Hours </span>

                    <input
                            type="text" asp-for="CrsHrsLec" value="@Model.CrsHrsLec"
                            class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                    />

                    <span asp-validation-for="CrsHrsLec" class="mt-1 text-sm text-red-700"></span>
                </label>
            </div>

            <div>
                <label>
                    <span class="text-sm font-medium text-gray-700"> Lab Hours </span>

                    <input
                            type="text" asp-for="CrsHrsLab" value="@Model.CrsHrsLab"
                            class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                    />

                    <span asp-validation-for="CrsHrsLab" class="mt-1 text-sm text-red-700"></span>
                </label>
            </div>
        </div>

        <div class="mt-4">
            <label>
                <span class="text-sm font-medium text-gray-700"> Course Units </span>

                <input
                    type="text" asp-for="CrsUnits" value="@Model.CrsUnits"
                    class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                />
                
                <span asp-validation-for="CrsUnits" class="mt-1 text-sm text-red-700"></span>
            </label>
        </div>
        
        <div class="mt-4">
            <label>
                <span class="text-sm font-medium text-gray-700"> Prerequisites </span>

                <details class="mt-1 group relative overflow-hidden rounded border border-gray-300">
                    <summary
                        class="flex items-center justify-between gap-2 p-3 text-gray-700 transition-colors hover:text-gray-900 [&::-webkit-details-marker]:hidden"
                    >
                        <span id="prereqCount" class="text-sm font-medium"> 0 course selected </span>

                        <span class="transition-transform group-open:-rotate-180">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="2.5"
                                stroke="currentColor"
                                class="size-3.5"
                            >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                            </svg>
                        </span>
                    </summary>

                    <div class="divide-y divide-gray-300 border-t border-gray-300 bg-white">
                        <fieldset class="p-3">
                            <legend class="sr-only">Checkboxes</legend>
                            
                            @{
                                var courses = ViewBag.Courses as List<StudentEnrolmentSystem.Models.Course>;
                                if (Model.ProgId != null)
                                    courses = courses!.Where(c => c.ProgId != null && c.ProgId == Model.ProgId).ToList();
                            }
                            <div class="flex flex-col items-start gap-3">
                                @foreach (var course in courses!.Where(c => c.CrsId != Model.CrsId))
                                {
                                    <label class="inline-flex items-center gap-3 prereq-item" data-catg-id="@course.CatgId">
                                        <input
                                            type="checkbox" name="CrsPreqIds"
                                            class="size-5 rounded border-gray-300"
                                            value="@course.CrsId"
                                            @(Model.CrsPreqIds.Contains(course.CrsId) ? "checked" : "")
                                        />

                                        <span class="text-sm font-medium text-pretty text-gray-700">
                                            @course.CrsTitle
                                        </span>
                                    </label>
                                }
                            </div>
                        </fieldset>
                    </div>
                </details>
                
                <span class="my-1 block flex items-center">
                    <span class="h-px flex-1 bg-gradient-to-r from-transparent to-gray-300"></span>

                    <span class="shrink-0 px-4 text-sm text-gray-900"> or </span>

                    <span class="h-px flex-1 bg-gradient-to-l from-transparent to-gray-300"></span>
                </span>
                
                <select
                    asp-for="LvlId"
                    asp-items="@(new SelectList(ViewBag.YearLevels, "LvlId", "LvlName"))"
                    class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                >
                    <option value="" selected hidden>Select year level</option>
                </select>
            </label>
        </div>
        
        <div class="mt-4">
            <span id="formError" class="mt-1 text-sm text-red-700"></span>
        </div>

        <footer class="mt-6 flex justify-between gap-2">
            <a
                    type="button" href="javascript:history.back()"
                    class="rounded bg-gray-100 px-4 py-2.5 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-200"
            >
                Cancel
            </a>

            <button
                    type="submit"
                    class="rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700"
            >
                Continue
            </button>
        </footer>
    </form>
</div>

@section Scripts {
    <script src="~/js/course/edit-course.js"></script>
}