@{
    ViewData["Title"] = "Manage Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="min-h-screen rounded flex flex-col xl:col-span-2 p-10 pt-0">
    <header class="sticky top-0 w-full flex self-start items-center justify-between py-6 bg-white z-100"
            style="mask-image: linear-gradient(to bottom, black 60%, transparent);">
        <div class="flex-1 md:flex md:items-center md:gap-12">
            <h2 class="text-2xl font-semibold text-gray-900">
                Manage Program-Specific Courses
            </h2>
        </div>

        <div class="md:flex md:items-center md:gap-12">
            <nav aria-label="Global" class="hidden md:block">
                <ul class="flex items-center gap-6 text-sm">
                    <li>
                        <a class="text-black font-medium"> Courses </a>
                    </li>

                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Curricula"> Curricula </a>
                    </li>
                    
                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Schedules"> Schedules </a>
                    </li>
                    
                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" href="#"> Students </a>
                    </li>
                </ul>
            </nav>

            <a
                type="button" asp-action="Logout" asp-controller="Auth"
                class="text-gray-500 transition hover:text-blue-500 text-sm"
            >
                Logout
            </a>
        </div>
    </header>
    
    @{
        var courses = ViewBag.Courses as List<StudentEnrolmentSystem.Models.Course>;
        var programCourses = courses!.Where(c => c.CrsIsActive).Where(c => c.ProgId != null && c.ProgId == ViewBag.ProgId).ToList();
        var categories = ViewBag.Categories as List<StudentEnrolmentSystem.Models.CourseCategory>;
        var programCategories = categories!.Where(c => !new[] { 1, 2, 7, 8 }.Contains(c.CatgId)).ToList();
    }
    @if (programCourses.Any())
    {
        <div class="flex-grow w-full space-y-4">
            <div class="flex justify-between items-center gap-2">
                <details class="group relative rounded border border-gray-300 z-0">
                    <summary
                        class="flex items-center justify-between gap-2 p-3 text-gray-700 transition-colors hover:text-gray-900 [&::-webkit-details-marker]:hidden"
                    >
                        <span id="prereqCount" class="text-sm font-medium"> Category </span>

                        <span class="transition-transform group-open:-rotate-180">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="2.5"
                                stroke="currentColor"
                                class="size-3.5"
                            >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                            </svg>
                        </span>
                    </summary>

                    <div class="divide-y divide-gray-300 rounded border border-gray-300 bg-white group-open:absolute group-open:start-0 group-open:top-11">
                        <fieldset class="p-3">
                            <legend class="sr-only">Checkboxes</legend>

                            <div class="flex flex-col items-start gap-3">
                                @foreach (var category in programCategories)
                                {
                                    <label class="inline-flex items-center gap-3">
                                        <input
                                            type="checkbox"
                                            class="size-5 rounded border-gray-300 catg-filter"
                                            value="@category.CatgId"
                                            checked
                                        />

                                        <span class="text-sm font-medium text-gray-700 whitespace-nowrap">
                                            @category.CatgName (@category.CatgCode)
                                        </span>
                                    </label>
                                }
                            </div>
                        </fieldset>
                    </div>
                </details>
                
                <a
                    type="button" asp-action="Add" asp-controller="Course" asp-route-progId="@ViewBag.ProgId"
                    class="ml-auto block rounded text-center bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700">
                    &plus; Add course
                </a>
            </div>
            
            <div class="overflow-x-auto rounded-lg border border-gray-300 courses-container">
                <table class="min-w-full divide-y-2 divide-gray-200">
                    <thead class="ltr:text-left rtl:text-right">
                    <tr class="*:font-medium *:text-gray-900 *:text-left">
                        <th class="px-4 py-3 whitespace-nowrap">Course Code</th>
                        <th class="px-4 py-3 whitespace-nowrap">Descriptive Title</th>
                        <th class="px-4 py-3 whitespace-nowrap">Category</th>
                        <th class="px-4 py-3 whitespace-nowrap">Prerequisites</th>
                        <th class="px-4 py-3 whitespace-nowrap">Units</th>
                        <th class="px-4 py-3 whitespace-nowrap">Lec Hrs</th>
                        <th class="px-4 py-3 whitespace-nowrap">Lab Hrs</th>
                        <th class="px-4 py-3 whitespace-nowrap"></th>
                    </tr>
                    </thead>

                    <tbody class="divide-y divide-gray-200">
                    @foreach (var course in courses!)
                    {
                        var category = categories!.FirstOrDefault(c => c.CatgId == course.CatgId);
                        var dependencies = ViewBag.Dependencies as List<StudentEnrolmentSystem.Models.CourseDependency>;
                        var prereqIds = dependencies!
                            .Where(d => d.CrsId == course.CrsId).ToList()
                            .Select(d => d.CrsPreqId).ToList();
                        var prereqCodes = prereqIds.Any()
                            ? courses.Where(c => prereqIds.Contains(c.CrsId)).Select(c => c.CrsCode).ToList()
                            : [];

                        if (course.LvlId != null)
                        {
                            var levels = ViewBag.YearLevels as List<StudentEnrolmentSystem.Models.YearLevel>;
                            var lvlName = levels!.FirstOrDefault(l => l.LvlId == course.LvlId)!.LvlName + " Standing";
                            prereqCodes.Insert(0, lvlName);
                        }
                        
                        var prereqString = prereqCodes.Any()
                            ? string.Join(", ", prereqCodes)
                            : "None";

                        <tr class="*:text-gray-900 text-sm" data-catg-id="@course.CatgId">
                            <td class="px-4 py-2 whitespace-nowrap">@course.CrsCode</td>
                            <td class="px-4 py-2 whitespace-nowrap">@course.CrsTitle</td>
                            <td class="px-4 py-2 whitespace-nowrap">@category!.CatgCode</td>
                            <td class="px-4 py-2">@prereqString</td>
                            <td class="px-4 py-2 whitespace-nowrap">@course.CrsUnits</td>
                            <td class="px-4 py-2 whitespace-nowrap">@course.CrsHrsLec</td>
                            <td class="px-4 py-2 whitespace-nowrap">@course.CrsHrsLab</td>
                            <td class="px-4 py-2 whitespace-nowrap">
                                <div class="flex gap-3 w-fit ml-auto">
                                    <a
                                        type="button" asp-action="Update" asp-controller="Course" asp-route-crsId="@course.CrsId"
                                        class="ml-auto w-fit block rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700">
                                        Edit
                                    </a>

                                    <a
                                        type="button" asp-action="Delete" asp-controller="Course" asp-route-crsId="@course.CrsId"
                                        class="ml-auto w-fit block rounded bg-red-500 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-red-600">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            
            <div class="p-6 flex flex-col justify-center items-center no-results-msg">
                <p class="text-sm text-pretty text-gray-700">
                    No program-specific courses found for the selected category.
                </p>
            </div>
        </div>
    }

    else
    {
        <div class="flex-grow rounded-lg p-6 flex flex-col justify-center items-center">
            <p class="text-sm text-pretty text-gray-700">
                No program-specific courses found in the database.
            </p>

            <a
                type="button" asp-action="Add" asp-controller="Course" asp-route-progId="@ViewBag.ProgId"
                class="mt-4 rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700"
            >
                &plus; Add course
            </a>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/admin/course-filter.js"></script>
}
