@{
    ViewData["Title"] = "Manage Curricula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="min-h-screen rounded flex flex-col xl:col-span-2 p-10 pt-0">
    <header class="sticky top-0 w-full flex self-start items-center justify-between py-6 bg-white"
            style="mask-image: linear-gradient(to bottom, black 60%, transparent);">
        <div class="flex-1 md:flex md:items-center md:gap-12">
            <h2 class="text-2xl font-semibold text-gray-900">
                Manage Curricula
            </h2>
        </div>

        <div class="md:flex md:items-center md:gap-12">
            <nav aria-label="Global" class="hidden md:block">
                <ul class="flex items-center gap-6 text-sm">
                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Courses"> Courses </a>
                    </li>
                    
                    <li>
                        <a class="text-black font-medium"> Curricula </a>
                    </li>

                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" href="#"> Students </a>
                    </li>
                </ul>
            </nav>

            <a
                type="button" asp-action="Logout" asp-controller="Auth"
                class="text-gray-500 transition hover:text-blue-500 text-sm"
            >
                Logout
            </a>
        </div>
    </header>
    
    @{
        var curricula = ViewBag.Curricula as List<StudentEnrolmentSystem.Models.Curriculum>;
        curricula = curricula!.Where(c => c.ProgId == ViewBag.ProgId).ToList();
        var curCourses = ViewBag.CurriculumCourses as List<StudentEnrolmentSystem.Models.CurriculumCourse>;
        var courses = ViewBag.Courses as List<StudentEnrolmentSystem.Models.Course>;
        var categories = ViewBag.Categories as List<StudentEnrolmentSystem.Models.CourseCategory>;
        var programs = ViewBag.Programs as List<StudentEnrolmentSystem.Models.Program>;
        var years = ViewBag.AcademicYears as List<StudentEnrolmentSystem.Models.AcademicYear>;

        var currentCur = curricula.FirstOrDefault(c => c.AyId == ViewBag.AyId);
        var pastCurs = curricula.Where(c => c.AyId < ViewBag.AyId).ToList();
    }
    @if (curricula.Any())
    {
        <div class="flex-grow w-full space-y-4">
            <h2 class="text-lg font-medium"> This Year </h2>
            @if (currentCur != null)
            {
                var cur = currentCur;
                
                var prog = programs?.FirstOrDefault(p => p.ProgId == cur.ProgId);
                var ay = years?.FirstOrDefault(x => x.AyId == cur.AyId);

                var curCrsRecords = curCourses?.Where(c => c.CurId == cur.CurId).ToList();
                var coursesInCur = courses?.Where(c => curCrsRecords!.Any(cr => cr.CrsId == c.CrsId)).ToList();

                <details class="group [&_summary::-webkit-details-marker]:hidden">
                    <summary
                        class="flex items-center justify-between gap-3 rounded-md border border-gray-100 bg-gray-50 px-6 py-4 text-gray-900">
                        <h2 class="text-lg font-medium">@prog!.ProgCode @ay!.AyStartYr-@ay.AyEndYr</h2>
                        @switch (cur.CurStatus)
                        {
                            case "Approved":
                                <span class="rounded-full bg-blue-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-blue-700">
                                    Approved
                                </span>
                                break;
                            case "Rejected":
                                <span class="rounded-full bg-red-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-red-600">
                                    Rejected: @cur.CurRejectReason
                                </span>
                                break;
                            default:
                                <span class="rounded-full bg-gray-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-gray-500">
                                    @cur.CurStatus
                                </span>
                                break;
                        }

                        <svg
                            class="ml-auto size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                    </summary>

                    @if (coursesInCur!.Any())
                    {
                        <div class="mt-3 rounded-lg border border-gray-300">
                            <table class="min-w-full divide-y-2 divide-gray-200">
                                <thead class="ltr:text-left rtl:text-right">
                                <tr class="*:font-medium *:text-gray-900 *:text-left">
                                    <th class="px-4 py-3 whitespace-nowrap">Course Code</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Descriptive Title</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Category</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Prerequisites</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Units</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Lec Hrs</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Lab Hrs</th>
                                </tr>
                                </thead>

                                <tbody class="divide-y divide-gray-200">
                                @foreach (var course in coursesInCur!)
                                {
                                    var category = categories!.FirstOrDefault(c => c.CatgId == course.CatgId);
                                    var dependencies = ViewBag.Dependencies as List<StudentEnrolmentSystem.Models.CourseDependency>;
                                    var prereqIds = dependencies!
                                        .Where(d => d.CrsId == course.CrsId).ToList()
                                        .Select(d => d.CrsPreqId).ToList();
                                    var prereqCodes = prereqIds.Any()
                                        ? courses!.Where(c => prereqIds.Contains(c.CrsId)).Select(c => c.CrsCode).ToList()
                                        : [];

                                    if (course.LvlId != null)
                                    {
                                        var levels = ViewBag.YearLevels as List<StudentEnrolmentSystem.Models.YearLevel>;
                                        var lvlName = levels!.FirstOrDefault(l => l.LvlId == course.LvlId)!.LvlName + " Standing";
                                        prereqCodes.Insert(0, lvlName);
                                    }

                                    var prereqString = prereqCodes.Any()
                                        ? string.Join(", ", prereqCodes)
                                        : "None";

                                    <tr class="*:text-gray-900 text-sm" data-catg-id="@course.CatgId">
                                        <td class="px-4 py-2 whitespace-nowrap">@course.CrsCode</td>
                                        <td class="px-4 py-2 whitespace-nowrap">@course.CrsTitle</td>
                                        <td class="px-4 py-2 whitespace-nowrap">@category!.CatgCode</td>
                                        <td class="px-4 py-2">@prereqString</td>
                                        <td class="px-4 py-2 whitespace-nowrap">@course.CrsUnits</td>
                                        <td class="px-4 py-2 whitespace-nowrap">@course.CrsHrsLec</td>
                                        <td class="px-4 py-2 whitespace-nowrap">@course.CrsHrsLab</td>
                                    </tr>
                                }
                                </tbody>

                                <tfoot class="divide-y divide-gray-200">
                                <tr class="*:font-medium *:text-gray-900 *:text-left">
                                    <th class="px-4 py-3 whitespace-nowrap">Total</th>
                                    <th class="px-4 py-3 whitespace-nowrap">@coursesInCur.Count courses</th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                    <th class="px-4 py-3 whitespace-nowrap">@coursesInCur.Sum(c => c.CrsUnits)</th>
                                    <th class="px-4 py-3 whitespace-nowrap">@coursesInCur.Sum(c => c.CrsHrsLec)</th>
                                    <th class="px-4 py-3 whitespace-nowrap">@coursesInCur.Sum(c => c.CrsHrsLab)</th>
                                </tr>

                                <tr class="*:font-medium *:text-gray-900 *:text-left">
                                    <th class="px-4 py-3 whitespace-nowrap align-top">Required</th>
                                    <th class="px-4 py-3 whitespace-nowrap">
                                        @coursesInCur.Where(c => !new[] { 2, 6 }.Contains(c.CatgId)).Sum(c => c.CrsUnits) units <br/>
                                        @cur.CurGeeUnits/@coursesInCur.Where(c => c.CatgId == 2).Sum(c => c.CrsUnits) units GE Electives <br/>
                                        @cur.CurPelecUnits/@coursesInCur.Where(c => c.CatgId == 6).Sum(c => c.CrsUnits) units Professional Electives
                                    </th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                    <th class="px-4 py-3 whitespace-nowrap align-bottom">
                                        @(coursesInCur.Where(c => !new[] { 2, 6 }.Contains(c.CatgId)).Sum(c => c.CrsUnits) + cur.CurGeeUnits + cur.CurPelecUnits)
                                    </th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        @if (cur.CurStatus != "Approved")
                        {
                            <div class="mt-3 w-full grid">
                                <a
                                    type="button" asp-action="Update" asp-controller="Curriculum" asp-route-curId="@cur.CurId"
                                    class="text-center block rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700">
                                    Make revisions
                                </a>
                            </div>
                        }
                    }

                    else
                    {
                        <div class="mt-3 rounded-lg p-6 flex flex-col justify-center items-center border border-gray-300">
                            <p class="text-sm text-pretty text-gray-700">
                                No course assigned.
                            </p>

                            <a
                                type="button" asp-action="Update" asp-controller="Curriculum" asp-route-curId="@cur.CurId"
                                class="mt-4 rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700">
                                Assign courses
                            </a>
                        </div>
                    }
                </details>
            }

            @if (pastCurs.Any())
            {
                <h2 class="pt-4 block text-lg font-medium"> In Previous Years </h2>
            }
            @foreach (var cur in pastCurs)
            {
                var prog = programs?.FirstOrDefault(p => p.ProgId == cur.ProgId);
                var ay = years?.FirstOrDefault(x => x.AyId == cur.AyId);

                var curCrsRecords = curCourses?.Where(c => c.CurId == cur.CurId).ToList();
                var coursesInCur = courses?.Where(c => curCrsRecords!.Any(cr => cr.CrsId == c.CrsId)).ToList();

                <details class="group [&_summary::-webkit-details-marker]:hidden">
                    <summary
                        class="flex items-center justify-between gap-3 rounded-md border border-gray-100 bg-gray-50 px-6 py-4 text-gray-900">
                        <h2 class="text-lg font-medium">@prog!.ProgCode @ay!.AyStartYr-@ay.AyEndYr</h2>
                        @switch (cur.CurStatus)
                        {
                            case "Approved":
                                <span class="rounded-full bg-blue-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-blue-700">
                                    Approved
                                </span>
                                break;
                            case "Rejected":
                                <span class="rounded-full bg-red-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-red-600">
                                    Rejected: @cur.CurRejectReason
                                </span>
                                break;
                            default:
                                <span class="rounded-full bg-gray-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-gray-500">
                                    @cur.CurStatus
                                </span>
                                break;
                        }

                        <svg
                            class="ml-auto size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                    </summary>

                    @if (coursesInCur!.Any())
                    {
                        <div class="mt-3 rounded-lg border border-gray-300">
                            <table class="min-w-full divide-y-2 divide-gray-200">
                                <thead class="ltr:text-left rtl:text-right">
                                <tr class="*:font-medium *:text-gray-900 *:text-left">
                                    <th class="px-4 py-3 whitespace-nowrap">Course Code</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Descriptive Title</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Category</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Prerequisites</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Units</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Lec Hrs</th>
                                    <th class="px-4 py-3 whitespace-nowrap">Lab Hrs</th>
                                </tr>
                                </thead>

                                <tbody class="divide-y divide-gray-200">
                                @foreach (var course in coursesInCur!)
                                {
                                    var category = categories!.FirstOrDefault(c => c.CatgId == course.CatgId);
                                    var dependencies = ViewBag.Dependencies as List<StudentEnrolmentSystem.Models.CourseDependency>;
                                    var prereqIds = dependencies!
                                        .Where(d => d.CrsId == course.CrsId).ToList()
                                        .Select(d => d.CrsPreqId).ToList();
                                    var prereqCodes = prereqIds.Any()
                                        ? courses!.Where(c => prereqIds.Contains(c.CrsId)).Select(c => c.CrsCode).ToList()
                                        : [];

                                    if (course.LvlId != null)
                                    {
                                        var levels = ViewBag.YearLevels as List<StudentEnrolmentSystem.Models.YearLevel>;
                                        var lvlName = levels!.FirstOrDefault(l => l.LvlId == course.LvlId)!.LvlName + " Standing";
                                        prereqCodes.Insert(0, lvlName);
                                    }

                                    var prereqString = prereqCodes.Any()
                                        ? string.Join(", ", prereqCodes)
                                        : "None";

                                    <tr class="*:text-gray-900 text-sm" data-catg-id="@course.CatgId">
                                        <td class="px-4 py-2 whitespace-nowrap">@course.CrsCode</td>
                                        <td class="px-4 py-2 whitespace-nowrap">@course.CrsTitle</td>
                                        <td class="px-4 py-2 whitespace-nowrap">@category!.CatgCode</td>
                                        <td class="px-4 py-2">@prereqString</td>
                                        <td class="px-4 py-2 whitespace-nowrap">@course.CrsUnits</td>
                                        <td class="px-4 py-2 whitespace-nowrap">@course.CrsHrsLec</td>
                                        <td class="px-4 py-2 whitespace-nowrap">@course.CrsHrsLab</td>
                                    </tr>
                                }
                                </tbody>

                                <tfoot class="divide-y divide-gray-200">
                                <tr class="*:font-medium *:text-gray-900 *:text-left">
                                    <th class="px-4 py-3 whitespace-nowrap">Total</th>
                                    <th class="px-4 py-3 whitespace-nowrap">@coursesInCur.Count courses</th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                    <th class="px-4 py-3 whitespace-nowrap">@coursesInCur.Sum(c => c.CrsUnits)</th>
                                    <th class="px-4 py-3 whitespace-nowrap">@coursesInCur.Sum(c => c.CrsHrsLec)</th>
                                    <th class="px-4 py-3 whitespace-nowrap">@coursesInCur.Sum(c => c.CrsHrsLab)</th>
                                </tr>

                                <tr class="*:font-medium *:text-gray-900 *:text-left">
                                    <th class="px-4 py-3 whitespace-nowrap align-top">Required</th>
                                    <th class="px-4 py-3 whitespace-nowrap">
                                        @coursesInCur.Where(c => !new[] { 2, 6 }.Contains(c.CatgId)).Sum(c => c.CrsUnits) units <br/>
                                        @cur.CurGeeUnits/@coursesInCur.Where(c => c.CatgId == 2).Sum(c => c.CrsUnits) units GE Electives <br/>
                                        @cur.CurPelecUnits/@coursesInCur.Where(c => c.CatgId == 6).Sum(c => c.CrsUnits) units Professional Electives
                                    </th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                    <th class="px-4 py-3 whitespace-nowrap align-bottom">
                                        @(coursesInCur.Where(c => !new[] { 2, 6 }.Contains(c.CatgId)).Sum(c => c.CrsUnits) + cur.CurGeeUnits + cur.CurPelecUnits)
                                    </th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                    <th class="px-4 py-3 whitespace-nowrap"></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    }

                    else
                    {
                        <div class="mt-3 rounded-lg p-6 flex flex-col justify-center items-center border border-gray-300">
                            <p class="text-sm text-pretty text-gray-700">
                                No course assigned.
                            </p>
                        </div>
                    }
                </details>
            }
        </div>
    }

    else
    {
        <div class="flex-grow rounded-lg p-6 flex flex-col justify-center items-center">
            <p class="text-sm text-pretty text-gray-700">
                No curriculum found in the database. Add a program first to create a curriculum.
            </p>

            <a
                type="button" asp-action="Add" asp-controller="Program"
                class="mt-4 rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700"
            >
                Add program
            </a>
        </div>
    }
</div>
