@{
    ViewData["Title"] = "Manage Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="min-h-screen rounded flex flex-col xl:col-span-2 p-10 pt-0">
    <header class="sticky top-0 w-full flex self-start items-center justify-between py-6 bg-white"
            style="mask-image: linear-gradient(to bottom, black 60%, transparent);">
        <div class="flex-1 md:flex md:items-center md:gap-12">
            <h2 class="text-2xl font-semibold text-gray-900">
                Manage Programs
            </h2>
        </div>

        <div class="md:flex md:items-center md:gap-12">
            <nav aria-label="Global" class="hidden md:block">
                <ul class="flex items-center gap-6 text-sm">
                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Courses"> Courses </a>
                    </li>

                    <li>
                        <a class="text-black font-medium"> Programs </a>
                    </li>
                    
                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Curricula"> Curricula </a>
                    </li>
                    
                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Faculty"> Faculty </a>
                    </li>

                    <li>
                        <a class="text-gray-500 transition hover:text-blue-500" asp-action="Rooms"> Rooms </a>
                    </li>
                </ul>
            </nav>

            <a
                type="button" asp-action="Logout" asp-controller="Auth"
                class="text-gray-500 transition hover:text-blue-500 text-sm"
            >
                Logout
            </a>
        </div>
    </header>

    
    @{
        var programs = ViewBag.Programs as List<StudentEnrolmentSystem.Models.Program>;
        var heads = ViewBag.ProgramHeads as List<StudentEnrolmentSystem.Models.ProgramHead>;
    }
    @if (programs!.Any())
    {
        <div class="flex-grow w-full space-y-4">
            @foreach (var program in programs!)
            {
                var head = heads?.FirstOrDefault(ph => ph.ProgId == program.ProgId);
                
                <div
                    class="flex items-center justify-between gap-3 rounded-md border border-gray-100 bg-gray-50 px-6 py-4 text-gray-900">
                    <div class="flex flex-col">
                        <div class="flex items-baseline gap-3">
                            <h2 class="text-lg font-medium">@program.ProgTitle</h2>
                    
                            <p class="text-base text-gray-500 mt-0.5">(@program.ProgCode)</p>
                        </div>
                        
                        <div class="flex items-baseline gap-3">
                            <p class="text-sm text-gray-500 mt-0.5">Headed by: @(head != null ? head.HeadFirstName + " " + head.HeadLastName : "None")</p>
                    
                            <a
                                type="button" asp-action="AssignHead" asp-controller="Program" asp-route-progId="@program.ProgId"
                                class="text-blue-600 transition hover:text-blue-700 text-sm"
                            >
                                @(head != null ? "Change" : "Add")
                            </a>
                        </div>
                    </div>
                    
                    <a
                        type="button" asp-action="Update" asp-controller="Program" asp-route-progId="@program.ProgId"
                        class="ml-auto block rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700">
                        Edit
                    </a>
                    
                    <a
                        type="button" asp-action="Delete" asp-controller="Program" asp-route-progId="@program.ProgId"
                        class="block rounded bg-red-500 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-red-600">
                        Delete
                    </a>
                </div>
            }

            <a
                type="button" asp-action="Add" asp-controller="Program"
                class="block w-full rounded text-center bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700">
                &plus; Add program
            </a>
        </div>
    }

    else
    {
        <div class="flex-grow rounded-lg p-6 flex flex-col justify-center items-center">
            <p class="text-sm text-pretty text-gray-700">
                No programs found in the database.
            </p>

            <a
                type="button" asp-action="Add" asp-controller="Program"
                class="mt-4 rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700"
            >
                &plus; Add program
            </a>
        </div>
    }
</div>
