@model StudentEnrolmentSystem.Models.Dto.TimeMachineDto
@{
    ViewData["Title"] = "Time Machine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div
        class="fixed inset-0 z-50 grid place-content-center p-4"
        role="dialog"
        aria-modal="true"
        aria-labelledby="modalTitle"
>
    <form id="timeMachineForm" data-action="@Url.RouteUrl("Time.Set")"
        class="w-full min-w-[28rem] max-w-md rounded-lg border border-gray-300 px-8 py-12">

        <div>
            <p class="text-sm text-pretty text-gray-700">
                For demonstration purposes, enter the academic year and semester right "now"
            </p>
        </div>

        <div class="mt-6">
            <label>
                <span class="text-sm font-medium text-gray-700"> Academic year </span>

                <select
                        asp-for="AyId"
                        class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                >
                    <option value="" selected hidden>Please select</option>
                    @foreach (var ay in ViewBag.AcademicYears)
                    {
                        <option value="@ay.AyId">@ay.AyStartYr-@ay.AyEndYr</option>
                    }
                </select>

                <span asp-validation-for="AyId" class="mt-1 text-sm text-red-700"></span>
            </label>
        </div>

        <div class="mt-4">
            <label>
                <span class="text-sm font-medium text-gray-700"> Semester </span>

                <select
                        asp-for="SemId"
                        class="mt-1 w-full rounded border-gray-300 sm:text-sm"
                >
                    <option value="" selected hidden>Please select</option>
                    @foreach (var sem in ViewBag.Semesters)
                    {
                        <option value="@sem.SemId">@sem.SemName</option>
                    }
                </select>

                <span asp-validation-for="SemId" class="mt-1 text-sm text-red-700"></span>
            </label>
        </div>

        <footer class="mt-6 flex justify-between gap-2">

            <button
                    type="submit"
                    class="w-full rounded bg-blue-600 px-4 py-2.5 text-sm font-medium text-white transition-colors hover:bg-blue-700"
            >
                Continue
            </button>
        </footer>
    </form>
</div>

@section Scripts {
    <script src="~/js/time-machine.js"></script>
}